html, body {
  height: 100%;
  width: 100%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

.sidenav-trigger {
  color: #283593;
}

.header {
  text-align: center;
  /* margin-top: 15%; */
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax-container .noparallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#profile-pic {
  display: block;
  width: 40%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.icons li {
  margin: 2px auto;
}

.icons img {
  width: 23px;
}

.icons i {
  font-size: 23px;
  vertical-align: bottom;
}

/* Contact form label color */
.input-field label {
  color: #bdbdbd;
}

#submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}